.page-content {
  min-height: calc(100vh - 64px);
  padding: 24px;
  box-sizing: border-box;
  background-color: var(--app-background);
  color: var(--text-primary);

  @media (max-width: 900px) {
    padding: 16px;
  }
  @media (max-width: 600px) {
    padding: 12px;
  }
}
