<mat-card class="task-card">

  <mat-card-header>
    <div class="task-header">
      <div>
        <h2>{{ task.title }}</h2>
      </div>

      <app-priority-badge [priority]="task.priority"></app-priority-badge>
    </div>
  </mat-card-header>

  <mat-card-content>

    <p class="description" *ngIf="task.description">
      {{ task.description }}
    </p>

    <div class="task-info">

      <div class="info-item">
        <mat-icon>flag</mat-icon>

        <span
          class="status"
          [ngClass]="getStatusClass()"
        >
          {{ getStatusText() }}
        </span>
      </div>

      <div class="info-item" *ngIf="task.dueDate">
        <mat-icon>calendar_today</mat-icon>

        <span>
          {{ task.dueDate | date: 'dd.MM.yyyy' }}
        </span>
      </div>

    </div>

  </mat-card-content>

  <mat-card-actions align="end">
        <button
            mat-button
            type="button"
            (click)="onView()"
          >
            <mat-icon>visibility</mat-icon>
            Detay
        </button>
        <button
            mat-button
            type="button"
            (click)="onEdit()"
        >
            <mat-icon>edit</mat-icon>
            Düzenle
        </button>

        <button
          mat-button
          type="button"
          (click)="onDelete()"
        >
          <mat-icon>delete</mat-icon>
          Sil
        </button>
    </mat-card-actions>

</mat-card>
