<h2 mat-dialog-title>
  {{ isEditMode ? 'Görevi Düzenle' : 'Yeni Görev Oluştur' }}
</h2>

<mat-dialog-content>
  <form
    class="task-form"
    [formGroup]="taskForm"
  >
    <mat-form-field
  *ngIf="isEditMode"
  appearance="outline"
>
  <mat-label>Durum</mat-label>

  <mat-select formControlName="status">
    <mat-option
      *ngFor="let status of statuses"
      [value]="status.value"
    >
      {{ status.label }}
    </mat-option>
  </mat-select>
</mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Görev başlığı</mat-label>

      <input
        matInput
        formControlName="title"
        placeholder="Örneğin: Haftalık raporu hazırla"
      />

      <mat-error
        *ngIf="taskForm.controls.title.hasError('required')"
      >
        Görev başlığı zorunludur.
      </mat-error>

      <mat-error
        *ngIf="taskForm.controls.title.hasError('maxlength')"
      >
        Başlık en fazla 200 karakter olabilir.
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Açıklama</mat-label>

      <textarea
        matInput
        formControlName="description"
        rows="4"
        placeholder="Görev hakkında açıklama yazın"
      ></textarea>

      <mat-error
          *ngIf="taskForm.controls.description.hasError('maxlength')"
        >
          Açıklama en fazla 2000 karakter olabilir.
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Öncelik</mat-label>

      <mat-select formControlName="priority">
        <mat-option [value]="1">
          Çok Düşük
        </mat-option>

        <mat-option [value]="2">
          Düşük
        </mat-option>

        <mat-option [value]="3">
          Normal
        </mat-option>

        <mat-option [value]="4">
          Yüksek
        </mat-option>

        <mat-option [value]="5">
          Çok Yüksek
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Bitiş tarihi</mat-label>

      <input
        matInput
        [matDatepicker]="dueDatePicker"
        formControlName="dueDate"
      />

      <mat-datepicker-toggle
        matIconSuffix
        [for]="dueDatePicker"
      ></mat-datepicker-toggle>

      <mat-datepicker #dueDatePicker></mat-datepicker>
    </mat-form-field>

    <div
      class="error-message"
      *ngIf="errorMessage"
    >
      {{ errorMessage }}
    </div>
  </form>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button
    mat-button
    type="button"
    [disabled]="taskForm.invalid || isSaving"
    (click)="cancel()"
  >
    İptal
  </button>

  <button
    mat-flat-button
    type="button"
    [disabled]="isSaving"
    (click)="save()"
  >
    <mat-spinner
      *ngIf="isSaving"
      diameter="20"
    ></mat-spinner>

    <span *ngIf="!isSaving">
      {{ isEditMode ? 'Güncelle' : 'Kaydet' }}
    </span>
  </button>
</mat-dialog-actions>